<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ likes_percentage }}%">
    	{% if bachot.likers.count %}
    		{{ bachot.likers.count }}
    	{% endif %}
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ dislikes_percentage }}%">
    	{% if bachot.dislikers.count %}
    		{{ bachot.dislikers.count }}
    	{% endif %}
    </div>
</div>
<div class="btn-group btn-group-justified" role="group">
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default disabled"><i class="fa fa-thumbs-{{ fa }}"></i> {{ result }}</button>
	</div>
</div>